---
import styles from './SocialIcons.module.css';

const links = [
  {
    href: 'https://github.com/krckyboy',
    label: 'GitHub',
  },
  {
    href: 'https://www.linkedin.com/in/dusan-todorovic-krcky/',
    label: 'LinkedIn',
  },
];
---

<ul class={styles.list}>
  {links.map(({ href, label }) => (
    <li>
      <a
        href={href}
        class={styles.link}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={label}
      >
        {label}
      </a>
    </li>
  ))}
</ul>
